{
    "command": "nova-compute",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/nova.conf",
            "dest": "/etc/nova/nova.conf",
            "owner": "root:nova",
            "perm": "0640"
        }{% if nova_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ nova_policy_file }}",
            "dest": "/etc/nova/{{ nova_policy_file }}",
            "owner": "root:nova",
            "perm": "0640"
        }{% endif %}{% if nova_backend == "rbd" %},
        {
            "source": "{{ container_config_directory }}/ceph.*",
            "dest": "/etc/ceph/",
            "owner": "root:nova",
            "perm": "0750"
        }{% endif %}{% if nova_compute_virt_type == "vmware" and not vmware_vcenter_insecure | bool %},
        {
            "source": "{{ container_config_directory }}/vmware_ca",
            "dest": "/etc/nova/vmware_ca",
            "owner": "root:nova",
            "perm": "0640"
        }{% endif %},
        {
            "source": "{{ container_config_directory }}/release",
            "dest": "/etc/nova/release",
            "owner": "root@nova",
            "perm": "0640",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/nova",
            "owner": "nova:nova",
            "recurse": true
        },
        {
            "path": "/var/lib/nova",
            "owner": "nova:nova",
            "recurse": true
        },
        {
            "path": "/usr/share/nova/api-paste.ini",
            "owner": "root:nova",
            "perm": "0640"
        },
        {
            "path": "/etc/nova/rootwrap.conf",
            "owner": "root:nova",
            "perm": "0640"
        }
    ]
}
