<match *.**>
    @type copy
    <store>
       @type elasticsearch
       host {{ elasticsearch_address }}
       port {{ elasticsearch_port }}
       logstash_format true
       logstash_prefix {{ kibana_log_prefix }}
       flush_interval 15s
       reload_connections false
       reconnect_on_error true
       buffer_type file
       buffer_path /var/log/kolla/fluent/ext-logstash.kolla.*.buffer
       disable_retry_limit true
       max_retry_wait 15m
    </store>
</match>
