{
    "command": "cinder-backup --config-file /etc/cinder/cinder.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/cinder.conf",
            "dest": "/etc/cinder/cinder.conf",
            "owner": "root:cinder",
            "perm": "0640"
        }{% if cinder_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ cinder_policy_file }}",
            "dest": "/etc/cinder/{{ cinder_policy_file }}",
            "owner": "root:cinder",
            "perm": "0640"
        }{% endif %}{% if cinder_backend_ceph | bool %},
        {
            "source": "{{ container_config_directory }}/ceph.*",
            "dest": "/etc/ceph/",
            "owner": "root:cinder",
            "perm": "0750",
            "optional": {{ (not cinder_backend_ceph | bool) | string | lower }}
        },
        {
            "source": "{{ container_config_directory }}/ceph.conf",
            "dest": "/etc/ceph/ceph.conf",
            "owner": "root:cinder",
            "perm": "0640",
            "optional": {{ (not cinder_backend_ceph | bool) | string | lower }}
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/lib/cinder",
            "owner": "cinder:cinder",
            "recurse": true
        },
        {
            "path": "/var/log/kolla/cinder",
            "owner": "cinder:cinder",
            "recurse": true
        },
        {
            "path": "/usr/share/neutron/api-paste.ini",
            "owner": "root:cinder",
            "perm": "0640"
        },
        {
            "path": "/etc/neutron/rootwrap.conf",
            "owner": "root:cinder",
            "perm": "0640"
        }
    ]
}
