{
    "command": "glance-api",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/glance-api.conf",
            "dest": "/etc/glance/glance-api.conf",
            "owner": "root:glance",
            "perm": "0640"
        }{% if glance_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ glance_policy_file }}",
            "dest": "/etc/glance/{{ glance_policy_file }}",
            "owner": "root:glance",
            "perm": "0640"
        }{% endif %}{% if glance_backend_ceph | bool %},
        {
            "source": "{{ container_config_directory }}/ceph.*",
            "dest": "/etc/ceph/",
            "owner": "root:glance",
            "perm": "0750"
        }{% endif %}{% if glance_backend_swift | bool %},
        {
            "source": "{{ container_config_directory }}/glance-swift.conf",
            "dest": "/etc/glance/glance-swift.conf",
            "owner": "root:glance",
            "perm": "0640"
        }{% endif %}{% if enable_glance_image_cache | bool %},
        {
            "source": "{{ container_config_directory }}/glance-cache.conf",
            "dest": "/etc/glance/glance-cache.conf",
            "owner": "root:glance",
            "perm": "0640"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/lib/glance",
            "owner": "glance:glance",
            "recurse": true
        },
        {
            "path": "/var/log/kolla/glance",
            "owner": "glance:glance",
            "recurse": true
        },
        {
            "path": "/etc/glance/rootwrap.conf",
            "owner": "root:glance",
            "perm": "0640"
        }
    ]
}
