{
    "command": "ironic-neutron-agent --config-dir /etc/neutron --config-file /etc/neutron/plugins/ml2/ironic_neutron_agent.ini --log-file /var/log/kolla/neutron/ironic_neutron_agent.log",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/neutron.conf",
            "dest": "/etc/neutron/neutron.conf",
            "owner": "root:neutron",
            "perm": "0640"
        },
        {
            "source": "{{ container_config_directory }}/ironic_neutron_agent.ini",
            "dest": "/etc/neutron/plugins/ml2/ironic_neutron_agent.ini",
            "owner": "neutron",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/neutron",
            "owner": "neutron:neutron",
            "recurse": true
        },
        {
            "path": "/var/lib/neutron/kolla",
            "owner": "neutron:neutron",
            "recurse": true
        },
        {
            "path": "/usr/share/neutron/api-paste.ini",
            "owner": "root:neutron",
            "perm": "0640"
        },
        {
            "path": "/etc/neutron/rootwrap.conf",
            "owner": "root:neutron",
            "perm": "0640"
        }
    ]
}
