{
    "command": "neutron-openvswitch-agent --config-file /etc/neutron/neutron.conf --config-file /etc/neutron/plugins/ml2/ml2_conf.ini",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/neutron.conf",
            "dest": "/etc/neutron/neutron.conf",
            "owner": "root:neutron",
            "perm": "0640"
        },
        {
            "source": "{{ container_config_directory }}/ml2_conf.ini",
            "dest": "/etc/neutron/plugins/ml2/ml2_conf.ini",
            "owner": "root:neutron",
            "perm": "0640"
        },
{% if check_extra_ml2_plugins is defined and check_extra_ml2_plugins.matched > 0 %}{% for plugin in check_extra_ml2_plugins.files %}
        {
            "source": "{{ container_config_directory }}/{{ plugin.path | basename }}",
            "dest": "/etc/neutron/plugins/ml2/{{ plugin.path | basename }}",
            "owner": "root:neutron",
            "perm": "0640"
        },
{% endfor %}{% endif %}
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/neutron/policy.json",
            "owner": "root:neutron",
            "perm": "0640",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/neutron",
            "owner": "neutron:neutron",
            "recurse": true
        },
        {
            "path": "/usr/share/neutron/api-paste.ini",
            "owner": "root:neutron",
            "perm": "0640"
        },
        {
            "path": "/etc/neutron/rootwrap.conf",
            "owner": "root:neutron",
            "perm": "0640"
        }
    ]
}
